<div class="container">
  <div class="box">
    <h1>Home works!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Possimus saepe quae voluptatem nihil minus soluta reprehenderit aspernatur amet quod!
      Esse, vel aliquid deserunt dolorum minima labore inventore sequi expedita placeat,
      exercitationem sed aspernatur blanditiis dolores repellat cumque optio voluptate molestiae?
    </p>
    <button class="button">Read More </button>
  </div>

  <div class="box2">
    <ul class="element">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>


  </div>

  <form class="form1">
    <label for="firstName">Name</label>
    <input name="firstName" type="text" placeholder="your name">
    <label for="email">email</label>
    <input name="email" type="text" placeholder="your email">
    <label for="mes"> Message</label>
    <textarea name="mes" id="mes" cols="30" rows="10"></textarea>


  </form>

</div>
