<div class="cardContent">
    <mat-card class="card">
        <mat-card-title>
            Mening accountim
        </mat-card-title>
        <mat-card-content>
            <div class="id">
                <label for="id">Id:</label>
                <div name = "id"> 12456879</div>

            </div>
            <div class="login">
                <label for="login">Login:</label>
                <div name = "login"> Palonchi</div>

            </div>
            <div class="email">
                <label for="login">email:</label>
                <div name = "login"> mirizohid@gmail.com</div>

            </div>


        </mat-card-content>

    </mat-card>
</div>

